<!DOCTYPE html>
<html>
  <head>
    <title>Minesweeper</title>
    <%= tag :meta, name: 'new-game-path',
    content: new_game_path %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://www.w3schools.com/w3css/4/w3.css', 'https://fonts.googleapis.com/css?family=Raleway', 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/errors' %>
    <%= yield %>
    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
